
@import url('https://fonts.googleapis.com/css2?family=Corben:wght@700&family=Coustard&family=Noto+Sans:wght@300;400;500&family=Titan+One&display=swap');
/* font-family: 'Coustard', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Titan One', cursive; */
/* dark red #8C1C13
orange #BF4342
cream #E7D7C1 */
.body-home {
    height: calc(100vh - 6em);
    width: 100%;
    display: flex;
    
}
.body-home h2 {
    font-family:'Coustard', serif;
    color: #8C1C13;
    /* font-weight: bold; */
    font-size: 3em;
    margin-bottom: 0.4em;
}
.body-home p {
    font-family: "Noto Sans";
    color: grey;
}
.text {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 4em;
    margin: 0 2em;
}
.options {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2em;
}
.options button {
    background-color: #8C1C13 ;
    color: #E7D7C1;
    border: none;
    border-radius: 15px;
    padding: 1em 1.5em;
    font-family: "Noto Sans";
    /* font-weight: 600; */
    margin: 1em 0;
    width: 13.75em;
    transition: 300ms ease-in;
}
.options button:hover{
    text-decoration: underline;
    
    
}
/* .options button:hover a{
    color: #E7D7C1;
} */
.options button a{
    color: #E7D7C1;
    text-decoration: none;
}

